[2017-03-09 22:52] kosukeimai opened #1 "Some improvements"
- Faster implementation of stringdist
- Precalculate string distances of common first and last names
- Remove as much of duplication between tableCounts and matchesLink as possible: Solved.
- Add a user-friendly warning for #17: Solved.
- Add a user-friendly warning for #18: Solved.
- Add a user-friendly warning for #20: Solved.

[2017-03-15 20:39] kuriwaki opened #2 "pre-processing dplyr/data.table columns"
Using datasets that are `dplyr` or `data.table` objects instead of simply `data.frame` isn't a good input for the gammaCKpar()  inside `fastLink`.

It might not be worth changing the code because `data.frame` is the standard. I thought I'd post because there was no warning and it took me a while to figure this out when using `fastLink`. The code below should be reproducible.

[code]

[2017-03-15 23:53] #2 closed, assigned to bfifield, tedenamorado

[2017-05-29 20:05] kuriwaki opened #10 ""undefined columns selected" in dedupeMatched"
When `dfA` contains a irrelevant-for-matching variable that is not in `dfB`, `dedupeMatches` breaks here: https://github.com/kosukeimai/fastLink/blob/021fa0e435cf19074788f4d0640becdae4ca77d1/R/dedupeMatches.R#L267

It looks like specifying two types of `colnames.df` earlier in the code (instead of [one](https://github.com/kosukeimai/fastLink/blob/021fa0e435cf19074788f4d0640becdae4ca77d1/R/dedupeMa

[2017-05-29 22:54] #10 closed, assigned to bfifield

[2017-07-28 12:22] tpaskhalis opened #13 "dedupeMatches() fails on single-variable matches"
Thank you for the package! It was released very timely for my work.

The issue I faced when trying on my datasets was that comparison on only one string variable would fail. The same error can be replicated with the test datasets:
[code]

The culprit is line [158](https://github.com/kosukeimai/fastLink/blob/master/R/tableCounts.R#L158]) in `tableCounts.R` which coerces data.frame into vector when

[2017-07-28 15:08] #13 closed

[2017-08-30 21:00] aalexandersson opened #15 "Error in mclapply() on Windows"
I am using fastLink on confidential data and get an error in mclapply(). I am using fastLink version 0.1.1 on Windows 7 with 4 cores.

This is the problematic R command:
[code]

This is the problematic R output:
[code]

Immediately after the error, I typed traceback() and this is the result:
[code]

If I change the syntax from n.cores = 2 to n.cores = 1 (or if I omit the option) then the R output

[2017-08-30 21:06] tedenamorado commented on #15
Hi,

Thanks for pointing that out. If you want to circumvent that issue, the best choice would be to install fastLink from gitHub directly i.e.,

library(devtools)
install_github("kosukeimai/fastLink",dependencies=TRUE)

Since you are using a Windows computer you will need to install Rtools as well. The latest version of Rtools can be downloaded here:

http://mirror.fcaglp.unlp.edu.ar/CRAN/bin/win

[2017-08-31 16:10] aalexandersson commented on #15
Hi Ted,

The development version of fastLink worked. Thank you.

I installed the development version from RStudio. RStudio conveniently asked if I want to install Rtool which I did. I have a minor follow-up question and a feature wish.

Follow-up question: Does the option n.cores perhaps refer to threads rather than to cores?

I have a 4-core 8-thread CPU. When I specify "n.cores = 2" I get in par

[2017-08-31 16:31] tedenamorado commented on #15
Hi Anders,

We are glad your issue is solved now.

Regarding your questions/request:

1. Yes, you are right, for most systems thread should be a better way to describe that option. We will try to incorporate such a change in a future release.

2. Currently, we are developing functions that will include detailed confusion tables and other ways to present graphically the results.

Note that if you u

[2017-08-31 20:14] aalexandersson commented on #15
Hi Ted,

This is great news, thank you!

A feature related to the confusion table that also would be nice to have is
a simple way to add the assumed true match status before doing the linkage.
In the R package RecordLinkage this is done as two identity vectors which
are harder than variables to work with for R beginners like myself.

I am a statistician at the central Florida Cancer Data System (F

[2017-09-01 18:45] aalexandersson commented on #15
Hi Ted,

Since you posted version 0.2.0 already, I installed it on Windows and here
is more feedback:

Thank you! I can use the new functions inspectEM() and plot() but I get
this error when I try to get online help:

Error in fetch(key) :
  lazy-load database
'C:/Users/aalexandersson/Documents/R/win-library/3.4/fastLink/help/fastLink.rdb'
is corrupt

Are inspectEM() and plot() what you meant by "

[2017-09-01 18:57] aalexandersson commented on #15
Email edits:
(1) Changed subject title
(2) For example, typing insp gives a popup window with "R code execution
error", and the command line error message as described below.

On Fri, Sep 1, 2017 at 2:45 PM, Anders Alexandersson <andersalex@gmail.com>
wrote:

[2017-09-01 19:03] kosukeimai commented on #15
Try uninstalling and then reinstalling the package to see if that fixes the problem.

[2017-09-04 16:59] tedenamorado commented on #15
Hi Anders,

I hope all is OK.

Are you still having these issues when using fastLink?

Are inspectEM() and plot() what you meant by "detailed confusion tables"? No, these functions are designed to make plots that present the agreement vectors in an easy-to-interpret fashion.

As per the confusion table, we are still working on such a function. I will let you know when we push it.

Thanks a lot for

[2017-09-04 18:14] aalexandersson commented on #15
Hi Ted,

Sorry for being late in my reply. Everything is OK. I did not have a chance to reinstall the software at work yet because I am home taking the long weekend off. I do not expect the help file to remain a problem on my Windows 7 with a clean install. I am closing the issue. If the problem remains I will let you know.

Thank you so much for working on adding a confusion table! It would make

[2017-09-04 18:14] #15 closed

[2017-09-05 14:02] aalexandersson commented on #15
A clean re-installation of version 0.2.0 from CRAN fixed the problem with the corrupted help file.

[2017-09-25 14:27] kuriwaki opened #17 "replacement has 2 rows, data has 0"
I'm getting an error when merging on two columns of names, and can't quite figure out why.

Here is a toy example that replicates the error.  In this example  increasing the number of observations solves the problem, but not in my real case. However, adding a third column seems to solve problem.

Would anyone know what's going on?

[code]

[2017-09-25 14:46] tedenamorado commented on #17
Hi Shiro,

The problem is that by default the cutoff to declare a pair of observations a match is 0.85, but in your example, even if you agree on first name and last name, the maximum probability for a pair is just ~0.81.

Try:
[code]

[2017-09-25 15:10] kosukeimai commented on #17
@tedenamorado Is it possible to issue an informative warning message?

[2017-09-25 15:14] kuriwaki commented on #17
Thanks Ted!  I was fiddling with  `cut.a` but forgot about the more important `threshold.match`.  This resolves the immediate question; and agree having that informative message at some point would be great.

[2017-09-25 15:16] tedenamorado commented on #17
We will add that warning in our next release. Thanks for the feedback!

[2017-09-25 15:32] #17 closed

[2017-10-03 16:43] aalexandersson commented on #15
Stata has a user-written command classtabi which concretely shows how another example of how the confusion matrix can be displayed. Unfortunately, the program has two minor bugs which are described on Statalist here:

https://www.statalist.org/forums/forum/general-stata-discussion/general/1321572-a-new-command-classtabi-now-available-for-download-from-ssc

Hope this helps,
Anders

[2017-10-09 19:45] aalexandersson commented on #15
Ariel Linden has now updated his Stata program classtabi to fix the two bugs. Hopefully you find it useful for developing a similar confusion matrix in fastLink.

https://www.statalist.org/forums/forum/general-stata-discussion/general/1321572-a-new-command-classtabi-now-available-for-download-from-ssc?p=1413865#post1413865

[2017-10-09 20:00] tedenamorado commented on #15
Thanks a lot for sharing this with us! We are close to release a new version of the package and we promise that the new function with a confusion table will be released.

In addition, we are adding two new functions that will allow the users to compare numeric variables based on absolute difference between two values.

[2017-11-19 10:03] LUSAQX opened #18 "cann't run gammaCKpar on a simple comparion instance"
Hi,

Please check the code as follows which returned

[code]
But when shifting to function  `gammaCK2par`

it could work.

Could you please advise how to fix the code to recall function `gammaCKpar` well on the instance above?

Cheers

[2017-11-19 19:38] LUSAQX commented on #18
I have got the solution, i.e. customize the cut.a and cut.p value to replace the default.

[2017-11-20 13:21] tedenamorado commented on #18
Thanks a lot for raising this point!

You are completely right. If there a not observations between the first and second cutoffs, then the function should fail. We will add a more informative error message when this happens.

[2017-11-29 20:11] aalexandersson opened #19 "How to avoid the error "You have no exact matches ... Please drop this variable"?"
I tried to reproduce a linkage I had done with RecordLinkage (R) in order to get realistic testing but in fastLink on Windows I get the error "You have no exact matches ... Please drop this variable". Because I do not want to drop the variable from my analysis, how can I avoid the error?

The error message is because of lines 225-227 in fastLink.r
[code]

I have an average PC with 8 GB of RAM. How

[2017-11-29 22:23] aalexandersson commented on #19
Here is a follow-up comment with my too slow fastLink code on the two real confidential datasets. The probabilistic record linkage on the same datasets and same matching variables worked in RecordLinkage thanks to it allowing multiple blocking variables, not only gender (at the cost of multiple passes):

`
library(fastLink)
library(readstata13)  # for using Stata data

# Real test data
pat <- read

[2017-11-30 00:56] aalexandersson commented on #19
I should be able to speed things up by doing a small deterministic match beforehand. That will reduce the size of the two datasets and the speed related issues. I will let you know if it fails.

[2017-11-30 00:56] #19 closed

[2017-11-30 01:12] tedenamorado commented on #19
Hi Anders,

Please keep us posted. The Random sampling strategy works well whenever you think there is a large overlap between datasets.

It looks that when you split the data, sometimes you have no information in the SSN for some clusters. Do you have missing values in such a variable?

Why are you treating SSN as a string variable? Using a string variable comparison for a numeric one is not idea

[2017-11-30 02:51] aalexandersson commented on #19
Ted,

Thank you for the encouraging and helpful comment. I will continue to test your program and keep you posted.

I treated SSN as a string variable to avoid numeric precision problem. I agree that SSN should not be treated as a partial string. So, this line should be removed:
`
partial.match = c("ssn")
`
I had it in the test code because which other variable would I test as partial string match

[2017-11-30 04:31] tedenamorado commented on #19
Hi Anders,

You raise a valid point about SSNs, still, the way the most string distances are calculated does not work well with numbers. fastLink is much faster for exact matches, regardless they are strings or numbers.

For a first pass, if I were you, I would use exact matching (gammaKpar) on zip code, SSN, and street number. In the case of dob, as you suggest, ideally one would love to calculat

[2017-11-30 22:04] aalexandersson commented on #19
Hi Ted,

I set.seed(123) and was able to reproduce the error message for SSN. There were some missing SSNs in both datasets but I think instead the issue is that the overlap is very small between the two dataset. In the original linkage using RecordLinkage (R), the result was about 3,000 links.

Thank you for the suggestion for "a first pass". It's easier for me to troubleshoot this in Stata: When

[2017-12-01 14:30] aalexandersson commented on #19
I made two changes:
1) I had wrongly blocked also on missing values. Removing missing values on SSN and ZIP in the blocking results in (2,181 * 2,181) observations which is too restrictive.
2) Relaxed the blocking from (SSN and ZIP) to (SSN4 and ZIP). SSN4 is the last four digits of the SSN. The result is (27,220 * 27,220) observations. This is easily managed by fastLink(), so I may even want to b

[2017-12-01 21:07] aalexandersson commented on #19
After the pre-blocking on SSN4 and ZIP, I used 5% random sample as before and 3 (down from 100) clusters, with a run time of about 20 minutes which is about twice as fast as my RecordLinkage run. Recall that the original results using RecordLinkage were **about 3,000 matches** (I do not want to publish the exact number here).

Here is the fastLink() code only:
`
link.i <- fastLink(
        dfA = s

[2017-12-02 16:59] tedenamorado commented on #19
Lowering the threshold has the problem of increasing the False Discovery Rate. The only other way I can think of is to not remove duplicates. However, if what you want a is 1:1 match, I would not advice you to do so.

[2017-12-05 19:54] rbagd opened #20 "Warning in emlinkMARmov in case of a poor match"
I've been looking quite extensively into `fastLink` algorithm and notably the edge cases. In doing so, I think I've encountered a bug in `emlinkMARmov` in the case of a poor match. If you unzip the attached file, you may run

[code]

If you try the above snippet out, you will obtain in most cases a warning that `p.old` is of different length than `p.new`. It doesn't happen always due to probable r

[2017-12-06 00:36] tedenamorado commented on #20
Hi,

Thanks a lot for your feedback! We really appreciate it.

As you rightly point out, in your example, the problem is that you do not have a single suitable match for the one observation in one of your datasets. The latter leads to numerical underflow.  We are constantly working on more robust ways to adjust for numerical underflow. In the meantime, we will add one warning message to describe t

[2017-12-12 15:43] rbagd commented on #20
Thanks for the input @tedenamorado. In my use case, `dfA` is a kind of a blacklist and I am looking for records in `dfB` that match one or more columns within that blacklist (I do matching separately by different sets of columns). False match is very undesirable in such a case so I'd rather ignore anything numerically suspicious just to be sure. I noticed indeed that `zeta.j` is typically zero for

[2017-12-24 03:12] tedenamorado commented on #20
Again, thanks a lot for your feedback. Believe me, every day we are trying to think of better ways to detect and handle false positives =)

We have pushed an updated version of `emlinkMARmov` that includes a more informative warning so that people facing knife-edge cases like the one you brought to our attention. In addition, we will release version 0.3 on CRAN really soon. The new release, beside

[2017-12-24 03:24] tedenamorado commented on #18
Hi, I just wanted to let you know that thanks to the error you brought our attention, we have improved `gammaCKpar`. If I am not wrong you are using a Windows machine, that is why you got an error message related to the parallelization of the function. More important than the parallelization problem is the fact that we did not have a proper warning message telling users that sometimes a partial ma

[2017-12-24 19:55] #20 closed

[2017-12-24 19:55] #18 closed

[2018-01-31 15:44] aalexandersson opened #22 "Confusing $addition.info from new function confusion()"
Thank you for adding the confusion table in version 0.3.0. However, **I think I found a bug** due to a logical error for the additional statistics ($addition.info). These additional statistics from https://github.com/kosukeimai/fastLink/blob/master/R/confusion.R do not match up with Stata's classtabi command unless you **reverse cells A and D**.

Based on prior conversation, I assume the reason is

[2018-01-31 16:04] tedenamorado commented on #22
Thanks a lot for raising this point, Anders! You are totally right! That is a typo in the function and we will take care of that right away.

Ted

[2018-01-31 16:26] tedenamorado commented on #22
Anders,

Just to let you know, we have fixed the issue. We will have to submit the fix to CRAN today.

All the best,

Ted

[2018-01-31 16:30] aalexandersson commented on #22
Perfect, thanks Ted! Now I just need to figure out how to extract the matches after clusterMatch() into a dataset to be returned to the data requestor ...

[2018-02-05 13:20] aalexandersson commented on #22
Thank you for trying to fix the bug in version 0.3.1 but, using the same example,
<pre>
ct <- confusion(out)
</pre>
now results in the error
<pre>
object 'A' not found
</pre>
For debugging, I used
<pre>
debug(confusion)
ct <- confusion(out)
</pre>
and the offending line is
<pre>
C <- sum(object$posterior * ifelse(object$posterior < threshold,
        1, 0)) + (min(object$nobs.a, object$nobs.b) - A

[2018-02-05 13:42] aalexandersson commented on #22
Here is the complete output:

<pre>

+   dfA = dfA, dfB = dfB,
+   varnames = c("firstname", "middlename", "lastname"),
+   stringdist.match = c("firstname", "middlename", "lastname"),
+   return.all = TRUE)

====================
fastLink(): Fast Probabilistic Record Linkage
====================

Calculating matches for each variable.
Getting counts for zeta parameters.
    Parallelizing calculati

[2018-02-05 14:39] aalexandersson commented on #22
Better is to use `debugonce()` instead of `debug().`  This will only take the function through debug mode once.

There are two small other issues with the confusion table in version 0.3.0 which possibly might be a problem later when I want to extract one dataset with the matches after clusterMatch:
1) Rounding e.g., "False negative rate" was 0.3.0000000000000 rather than Stata's 0.27.
2) dfA and d

[2018-02-05 16:22] tedenamorado commented on #22
Hi Anders,

Thanks for such a detailed comment! We are fixing the bug right now. We will push a new version for the confusion table function soon (before the end of the day). You will be able to install it through `install_github`.

If anything else, please keep us posted.

Ted

[2018-02-05 21:25] aalexandersson commented on #22
Thank you Ted,

Using the same example, this is now the output for the confusion table and additional info:

<pre>

$confusion.table
                     'True' Matches 'True' Non-Matches
Declared Matches              49.79               0.21
Declared Non-Matches           0.27             299.73

$addition.info
                                           results
Max Number of Obs to be Matched 350

[2018-02-05 23:18] tedenamorado commented on #22
Hi Anders,

We just pushed a new version of the function. Again, thanks a lot for your great feedback.

If anything, please let us know.

Ted

[2018-02-07 14:23] aalexandersson commented on #22
Hi Ted,

The new confusion() function looks good to me. **A possible feature enhancement for $addition.info is to add F1 Score = (2 * PPV * Sensitivity) / (PPV + Sensitivity)**

Two justifications:
1) Wikipedia: https://en.wikipedia.org/wiki/F1_score
2) Academic reference: Hand, D. and Christen, P. 2017 "A note on using the F-measure for evaluating record linkage algorithms". Statistics and Comput

[2018-02-11 22:34] tedenamorado commented on #22
Hi Anders,

We totally agree! We just added the F1-score to the confusion table function.

If anything, just let us know.

Ted

[2018-02-28 12:44] dandermotj opened #24 "Reproducing RLdata500 deduplication results"
Hi,

First of all thank your work on fastLink. I've been trying to recreate your results from your paper:

I've included a reproducible example below:
[code]
As you can see I've made no changes to the default settings of `fastLink`, The `rl_dups` dataframe contains only exact matches and discovers no duplicates. Do you have any suggestions in order to recreate your results? I'm assuming I just nee

[2018-02-28 16:30] tedenamorado commented on #24
Hi Dan,

Thanks for using fastLink! Believe me, it is through the feedback of the users that we have been able to improve the package in very meaningful ways.

There is a typo in the paper, it should read: first and last name. In the `RLdata500` dataset, there are two sources for last names. However, one of them (`lname_c2`) has missing values almost everywhere - there are only 8 observed values o

[2018-02-28 17:36] tedenamorado commented on #22
Hi Anders,

Just to let you know that  my co-author Ben Fifield just pushed a new function called `getPatterns`. That function recovers the agreement patterns for each matched observation.

Ted

[2018-02-28 19:25] dandermotj commented on #24
Hi Ted,

Thanks a million for your quick response! After a good bit of fiddling and reading, I realised that I wasn't  using the `fastLink` wrapper correctly because I wasn't passing variables the birth date variables into the `numeric.match` argument. Doing this resulted in an error, here's the traceback:

[code]

[code]

I'm assuming that this is the error that you have run into?

Also, I'll go

[2018-02-28 21:46] tedenamorado commented on #24
Exactly, Dan! We are working on fixing that issue. However, the code I posted does what we describe in the paper. When we wrote the paper we did not have a function to compare distances for numeric variables, now we have one.

We are constantly trying to incorporate new functions that help with record linkage projects, that is why, if you have any suggestions, do not hesitate to let us know.

Chee

[2018-02-28 21:51] tedenamorado commented on #22
Hi Anders,

I am glad you are doing better now! Yes, the new function is compatible with `clusterMatch()`. Once you get to it, please let us know if we can of any help.

I hope you get well soon!

Ted

[2018-03-06 13:41] aalexandersson commented on #22
Hi Ted,

I now use the latest development version 0.3.2 (on Windows 10, 64-bit) but
when I run

library(devtools)
install_github("kosukeimai/fastLink",dependencies=TRUE)
library(fastLink)
data(samplematch)
out <- fastLink(
  dfA = dfA, dfB = dfB,
  varnames = c("firstname", "middlename", "lastname"),
  stringdist.match = c("firstname", "middlename", "lastname"),
  return.all = TRUE)

 I now get th

[2018-03-06 13:44] aalexandersson commented on #22
I have Windows 7 (not Windows 10):

R version 3.4.3 (2017-11-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

On Tue, Mar 6, 2018 at 8:41 AM, Anders Alexandersson <andersalex@gmail.com>
wrote:

[2018-03-06 13:57] aalexandersson commented on #22
Even the confusion table in CRAN version 0.3.1 no longer works. Now this
code that worked before

install.packages("fastLink")
library(fastLink)
data(samplematch)
out <- fastLink(
  dfA = dfA, dfB = dfB,
  varnames = c("firstname", "middlename", "lastname"),
  stringdist.match = c("firstname", "middlename", "lastname"),
  return.all = TRUE)
ct <- confusion(out)

results in the error message

Error

[2018-03-06 14:09] aalexandersson commented on #22
The recurring error with the CRAN version 0.3.1 is the same as from Feb 5:
[code]

[code]

[2018-03-06 15:28] tedenamorado commented on #22
Hi Anders,

We will take a look at the issue right now. I will be back with a proper answer shortly.

Ted

[2018-03-06 20:29] tedenamorado commented on #22
Hi Anders,

We have fixed the issue for the development branch. It was a minor typo in the code. Please install `fastLink` again using `devtools`.

Keep us posted!

Ted

[2018-03-06 20:44] aalexandersson commented on #22
Thanks Ted,

Now I get a new error message in the development branch.

out <- fastLink(
  dfA = dfA, dfB = dfB,
  varnames = c("firstname", "middlename", "lastname"),
  stringdist.match = c("firstname", "middlename", "lastname"),
  return.all = TRUE)

results in this error:

Error in m_func_par(temp = temp, ptemp = ptemp, natemp = natemp, limit1 =
limit.1,  :
  object '_fastLink_m_func_par' not fo

[2018-03-07 05:13] tedenamorado commented on #22
Hi Anders,

I have installed the package using a machine with similar specification as yours and I do not get the error. Do you get any error message during installation?

Ted

[2018-03-07 13:36] aalexandersson commented on #22
Hi Ted,

Thanks for the help, and I am sorry for having caused you extra work because of my user error. The problem has been resolved. No, I did not get any error message during installation. However, I had done several installations of both various development versions and CRAN versions without a clean installation which seems to have caused the problem. Adding this command prior to installation

[2018-03-07 14:58] bfifield commented on #22
Hi Anders -

There should be a new object in `out` called `patterns`, that will return the match patterns. Using your example:

[code]

[2018-03-07 14:58] #22 closed

[2018-03-07 15:19] bfifield commented on #22
And Anders, I've just pushed a change so that the match patterns correspond exactly with the de-duped matches. Previously, it returned the un-deduped match patterns.

[2018-03-07 19:09] aalexandersson commented on #22
Hi Ben,

Thank you. In the example, the two dataframes out$matches and out$patterns now have the same number of observations, 82, which makes sense. However, in practice I want only a subset of the matches.

**How can I get a subset of the matches such as for the default 85% threshold?**

I can get the original data for the 82 matched observations like this:

matchesA <- dfA[out$matches$inds.a,]
m

[2018-03-07 19:17] bfifield commented on #22
You can subset down further using the `posterior` entry in the `out` object, which contains the estimated posterior match probability for each matched pair:
[code]

[2018-03-07 19:28] aalexandersson commented on #22
Ben,

Thank you. That's exactly what I need for most data requests.  :1st_place_medal:

Anders

[2018-03-07 20:17] bfifield commented on #22
No problem! Glad to be able to help.

[2018-03-16 13:40] aalexandersson commented on #22
**How are FDR and FNR calculated in `summary()`**? I just realized that FNR differs from "False Negative Rate" in `confusion()`. Similarly, FDR and "False Positive Rate" differ. Are they four different concepts? Example code of linkage:

[code]

Example code and output:
[code]

Stata gives same results as $addition.info:

[code]

[2018-03-16 20:24] tedenamorado commented on #22
Hi Anders,

The concepts are the same but the data we use to calculate FDR and FNR are different. In the function `confusion()` the numbers you see are relative to the size of the datasets after enforcing a 1 to 1 matching status i.e., every observation in dataset A (the smaller one) can be matched with at most one person in dataset B (the larger one). Note that this does not mean that every obser

[2018-03-20 01:27] aalexandersson commented on #22
Hi Ted,

Yes, this makes sense. Thanks again and best wishes.

Anders

[2018-03-20 03:50] tedenamorado commented on #24
Hi Dan,

We have push a fix that solves the issue. Please, install `fastLink` again from GitHub and try the lines you wrote above.

If anything, please let us know.

Ted

[2018-04-07 21:23] mikejacktzen opened #25 "question / documentation"
hi, this package seems great and much needed.

i had 2 questions, whose answers could strengthen the documentation / articles / vignettes.

1. It seems like the workflow is designed to separate the 'blocking' step from the later 'estimation' step.
Is this correct?

This would be a point to highlight as a strength.

one pain point in using the other package `RecordLinkage`
https://cran.r-project.or

[2018-04-08 21:53] tedenamorado commented on #25
Hi,

Thanks a lot for your great feedback! We are working on a vignette for fastLink with many examples and practical advice. We will definitively incorporate the points you raise.

Let me try to answer the questions you raise:

1. It seems like the workflow is designed to separate the 'blocking' step from the later 'estimation' step. Is this correct?

Exactly! We designed fastLink as a solution t

[2018-04-09 14:50] aalexandersson commented on #25
Thanks, this is great news!

While `RecordLinkage` and `fastLink` can produce different outputs, some important differences are because of the workflow. Some distinctions that were made I think were overstated. For example, both software separate the 'blocking' step from the later 'estimation' step. Let me explain the workflow differences I have in mind by referring to AutoMatch, which is the trad

[2018-04-09 14:50] rdrivers commented on #25
I’m in SF today, hopefully will be in either tomorrow or weds, but not sure of my schedule yet.

[2018-04-10 20:49] aalexandersson commented on #24
@katharinax Katie, I assure you as an active user that `fastLink` is very much under active development by the developers. Use the latest development version on GitHub if you need something newer than the stable version on CRAN. If you still have a problem, please make sure to provide a reproducible example.

Anders

[2018-04-10 21:01] katharinax commented on #24
@aalexandersson I see; will try the development version. And I'll provide reproducible examples if I have further questions. Thanks!

[2018-04-10 21:09] tedenamorado commented on #24
@katharinax thanks for using `fastLink`. As noted above by @aalexandersson, we have fixed the issue on GitHub - we are planning to push a new version to CRAN soon with that fix included.

If you are using a PC or Linux machine, then installing from GitHub via `devtools` should be straightforward. If you are using a MAC, then installing from GitHub requires an additional step (happy to help if that

[2018-04-10 21:25] katharinax commented on #24
Hi @tedenamorado,

I am using a MAC and I'm actually not that familiar with R.

My current plan is to `git clone` your repo, and then link the source code to my own project by doing `source("localGitRepoRootFolder/R/fastLink.R")` Not sure if this sounds stupid, ha ;) Love to hear your suggestion!

Thanks,
Katie

[2018-04-10 21:38] tedenamorado commented on #24
Hi Katie,

The problem is that you need `OpenMP` to work on your Mac. The following is a fantastic explanation to make that happen:

http://thecoatlessprofessor.com/programming/openmp-in-r-on-os-x/

The other thing that you might need to do is to update the `command line tools`

`xcode-select --install`

Hope this helps! If anything, let us know.

All the best,

Ted

[2018-04-10 21:44] katharinax commented on #24
@tedenamorado This is very enlightening. Will look into this now. I am also downloading the `devtools` package. Thanks for all the pointers! Much appreciated!

Katie

[2018-04-16 23:00] mikejacktzen commented on #25
i agree with @aalexandersson in that the ideal flexible situation is to allow a field to be used optionally in both

1. `form_blocks(gender)`
2. `estimate_params(gender)`

Although `RecordLinkage` allows the option of both, you have to progromatically request it in one step

umbrella_block_and_estimate(param=gender,block=gender)

See the `compare.dedup()` example below which acts as my 'umbrella_b

[2018-04-27 07:52] sysilviakim opened #27 "Using partial.match argument results in different matches"
I was attempting a simple record linkage as follows, and I noticed something very strange. When I specify the ```partial.match``` argument, the outcome of the match is different from when it is not specified.

In the following made-up data, there are four entities in each dataframe. Entities 2, 3, and 4 are same people. 2 and 4 are exactly the same records. For 3, the address changes.

[code]

The

[2018-04-29 03:56] tedenamorado commented on #27
Hi,

Thanks a lot for your interest in fastLink. I apologize it took me a bit to reply, I have been out of town.

As you rightly point out, the test data we have released with fastLink it is not the best given that it does not contain misspellings so a simple merge can do as well. We are planning to add some noise to the data so that we do justice to what fastLink does best.

Now, regarding your e

[2018-04-29 06:46] sysilviakim commented on #27
Hi Ted, thank you for your reply.

I should have added more details to my first post, and I accidentally compared ```m_synthetic_1$matches$inds.a``` and ```m_synthetic_1$matches$inds.b``` while I meant to contrast ```m_synthetic_2$matches$inds.a```---I apologize. I updated my initial post.

In my fake data,

* Observation 1 in each data is different so they are rightfully not matched.
* Observatio

[2018-04-30 03:00] tedenamorado commented on #27
Hi @sysilviakim,

Thanks for the clarification! I see what you mean, still when set the partial.match you are fitting a different model because while most of variables you are using are not partial matches, two of them have partial matches. Still what is tricky in your example is not the partial matches, but that in your data there are redundant fields (which are not informative beyond their first

[2018-04-30 05:59] sysilviakim commented on #27
Hi @tedenamorado,

Thank you for the second post. I see---I think I initially misunderstood your first post. I understand that ```partial.match``` results in a different model now. And I completely overlooked the conditional independence assumption in the paper Section 2.2.1! I guess I'll manually discard redundant variables at the moment because there aren't that many columns.

Thank you again.

[2018-04-30 05:59] #27 closed

[2018-04-30 13:04] aalexandersson commented on #27
The functions `compare.dedupe` and `compare.linkage` in the R package `RecordLinkage` has the argument `exclude` that excludes fields/columns/variables. I prefer the `fastLink` syntax of only having to specify what you need for the linkage. But perhaps `fastLink` should return a warning message if there is a redundant field in the specified syntax?

[2018-05-22 00:57] katharinax opened #28 "question / supporting other languages"
Hi Ted and fastLink developers,

Thank you for creating this amazing package and answering my previous questions.

My team is wondering if you have written - or have plans to write - fastLink in other languages, especially Python, Java, or Scala. Would you shed some light?

Thanks,
Katie

[2018-05-22 01:13] tedenamorado commented on #28
Hi Katharina,

We are glad that you guys find fastLink of great help! We have just released version 4.0 and it is available on CRAN.

When we started this project, we wrote some of the functions in Python -- the cool thing about fastLink is that the idea travels to different languages. I will try to finish a beta version for Python sometime soon. I will keep you posted.

Please, if you have any id

[2018-06-19 01:27] mclurkles opened #29 "Question - Matching dataset against itself"
Hi,

This is a fantastic package. Thanks to you all.

One of the problems i'm trying to solve is determining duplicates within a single dataset. Do you have any ideas on how to use fastLink to ID same-set duplicates?

Cheers,
Ewen

[2018-06-19 04:30] tedenamorado commented on #29
Hi Ewen,

Thanks a lot for your kind words! We constantly work on fastLink to make it user-friendly and intuitive to use.

De-duplication is a problem that can be addressed using fastLink. The lines below present an example and should give you a good place to start:

[code]
If anything, please let us know.

All my best,

Ted
PS. We will add a thorough discussion of this example and the overall pro

[2018-06-27 17:17] Weekend-Warrior opened #30 "Enhancement - Exact Matching Option"
Hi! Thanks for this wonderful contribution. As soon as I am able I will attempt a push but I wanted to get your feedback on the option to assign exact matches, even if probability of matching is too low. I am running into cases where my data is too small to make a probabilistic match and, though exact matches exist, the EM step does not output the indices despite noting them in the summary output.

[2018-06-27 17:30] tedenamorado commented on #30
Hi,

If possible, could you share with us the results you obtain from the EM step? That would help a lot to diagnose what the problem is. If I understand you correctly, it seems that you problem is that even when you have exact matches in every linkage field (I imagine you only have a few of fields to merge) the probability of being a match is low, is that a correct assessment of your problem?

If

[2018-06-27 20:11] Weekend-Warrior commented on #30
Sure!
[code]

[2018-06-27 20:58] tedenamorado commented on #30
Thanks a lot! As you suspect, the problem is that we have only two patters with some traction in terms of being matches. I have two alternatives for you:

1. In a Fellegi-Sunter under conditional independence, sometimes numerical underflow is an issue. To avoid that change the convergence criteria `tol` for the EM

`tol = 1e-03` works well in your example.

2. Move to the model that relaxes the co

[2018-07-02 12:53] Weekend-Warrior commented on #30
Hey Ted,

Thanks for this. Relaxing conditional independence did the trick.

Best regards,

Stewart

[2018-07-02 12:53] #30 closed

[2018-07-11 14:43] Weekend-Warrior opened #32 "Question - Recommendation for geocoding"
Hi!

I have a question about how you'd suggest implementing links using geocoded records? I've considered doing the latitude and longitude numeric comparisons or perhaps reweighting the posterior probability based on the geodesic distance. Just spit-balling. Thanks!

Stewart

[2018-07-15 17:39] tedenamorado commented on #32
Hi Stewart,

Apologies for the late reply. Using the numeric comparison for geo-distances seems like more than a reasonable approach. Perhaps including a blocking stage where you only compare observations that are close to each other might be another approach. Creating the blocks might be tricky as most likely they will overlap.

New functions to incorporate blocking (including cases with overlapp

[2018-07-16 11:14] Weekend-Warrior commented on #32
I'm very eager to see the blocking structures. Thanks for your support!

[2018-08-09 13:37] Weekend-Warrior commented on #32
Hey guys,

Thanks for merging blockData this week! Window blocking seems to make sense for lat/lon blocked comparisons. Would you be willing to suggest a modified workflow for the step-by-step process in this scenario? In particular, how best to consolidate the EM tables and reconcile the best matches among the windows. Whatever you can offer will be very helpful and I thank you in advance!

Best

[2018-09-10 15:50] aalexandersson commented on #28
Actually, fastLink on CRAN is only version 0.4, not 4.0 :-)

Therefore, I instead wish that the known issues with blocking and aggregate confusion tables will be worked on first. I assume that Python users should be able to use rpy2 to call R and fastLink.

[2018-09-25 17:52] sysilviakim opened #34 "Small sample errors"
Hello all,

Thank you for the amazing package again. `fastLink` works very well with moderate to large sized datasets---when faced with extremely small sample, it sometimes breaks down. For instance, with the commit on Sep 5, 2018 on gamma functions, the following works:

    library(fastLink)
    data(samplematch)
    ## One underlying true match
    matches.out <- fastLink(
      dfA = dfA[c(1,

[2018-11-02 15:08] #34 closed

[2018-11-02 15:09] bfifield commented on #34
Thanks, Sylvia! This is a good catch - an edge case that as you mention will come up a lot with dynamic merges. We've added handling for this case in the EM in the newest commit, and will make this part of the newest submit to CRAN.

[2018-11-02 15:26] #29 closed, assigned to nobody

[2019-01-04 23:35] mbcann01 opened #36 "question - view posterior for all pairs of rows"
Hey guys,

Thank you for developing this package. I think it will be really useful to me. It seems like the default behavior for `fastLink::fastLink` is to return the indices and posterior probability for matching rows only.

Is there a way to view the posterior probabilities for ALL pairs of rows?

I'm interested in knowing if there were any pairs that were NOT matched, but should be.

Thank you,

[2019-01-06 17:14] mbcann01 commented on #36
Hi Ben,

Thank you very much for the response!

It's possible that I'm still doing something wrong, but I don't think your solution works in my particular situation because I'm trying to find matches within a single data set rather than two data sets. I should have been more specific from the begininning. Below I go into greater detail:

# Background

In my data, each row represents a unique treat

[2019-01-07 16:58] mbcann01 commented on #36
Thank you very much for the response, Ted. I'll take a look at #29 and give it another shot.

[2019-01-17 17:36] felixhaass opened #37 "getMatches() warning / deduplication"
Hi,

thanks for the great package & the terrific documentation. It's extremely useful and I think many people are going to use it--I definitely will!

I'm having issues when deduplicating a dataset, where I have only few variables to match on. The goal is to generate a common ID for observations with a very similar string identifier. When I follow the deduplication procedure you sketch in the `REA

[2019-01-30 22:50] YeshnaB opened #38 "question - matching multiple datasets"
Hi developers! Thank you so much for this package it is grreaattt!

I was wondering if there's a way to match multiple datasets dfA, dfB, dfC etc?

[2019-01-31 00:01] kosukeimai commented on #38
We are working on it!  It will take some time though.  For now, you will have to match two at a time...

[2019-02-19 13:49] bfifield commented on #37
@felixhaass Thanks for this, and sorry about the delay in responding! We're working on this in a separate branch (referenced above), and should push a fix in the next few days to Github. This will be in the next release to CRAN as well. We really appreciate the catch.

[2019-02-19 13:57] #37 closed

[2019-02-20 11:24] felixhaass commented on #37
Great, thanks for the reply & fixing the issue. Looking forward to the release!

[2019-06-19 18:56] jg43b opened #40 "kkv"

[2019-06-19 18:56] #40 closed

[2019-07-09 23:40] timbp opened #41 "not all patterns with NA counted?"
It seems that if a variable has missing values, not all patterns are counted. Is this intended?

`

    Parallelizing calculation using OpenMP. 1 threads out of 8 are used.

     gamma.1 gamma.2 counts
[1,]       0       0 172338
[2,]       1       0    271
[3,]       2       0   2170
[4,]       0       1     50
[5,]       0       2    120
[6,]       1       2      1
[7,]       2       2     50
at

[2019-07-10 01:14] tedenamorado commented on #41
Hi,

Thanks a lot for raising this issue. Rest assured that we will take a close look. The counts for patterns that include a missing value should not miss pairs.

Ted

[2019-07-10 05:48] tedenamorado commented on #41
Hi,

Thanks again for raising this issue!

There was a problem on how missing values were handled `gammaCKpar()'. The issue has been resolved and if you install using `devtools()' your R code should produce the desired output.

If anything, please do not hesitate to reach out.

Ted

[2019-07-11 08:55] timbp commented on #41
all looks good now

[2019-07-11 08:55] #41 closed

[2019-07-18 12:21] Najsztub opened #42 "Vignette: Missing "gender" variable in the example datasets"
Hey,

I have tried to replicate the examples form the vignette and I got stuck at Blocking part.
I cannot find the "gender" variable in the dfA and dfB datasets provided by the library.

Could you add the variable in the data?

Best regards,
Mateusz Najsztub

[2019-07-18 21:28] aalexandersson commented on #42
Duplicate of open issue #25.

[2019-08-06 15:13] aalexandersson opened #43 "New feature request: Matthews correlation coefficient"
Please add **Matthews correlation coefficient** (MCC) as an additional statistic for the confusion table:

[code]

The MCC is useful as an overall measure of the linkage quality. The MCC is better than Accuracy and the F1-score for imbalanced data because it adjusts for the balance ratios of the four confusion table categories (TP, TN, FP, and FN). In practice, I find that most linkage data are im

[2020-08-03 11:51] froukehe0 opened #44 "Question: window blocking conditional on another variable"
**Background:** We would like to use fastLink to link data on road crashes from police and hospital records. In the  blocking phase, we would like to set a window for the time between the crash as registered by the police and the time the patient arrived in the hospital. However, this window is likely to depend on the severity of the injuries: patients with milder injuries can take more time to ar

[2020-08-06 01:15] tedenamorado commented on #44
Hi,

I hope all is well. Sadly, our blocking function is not as flexible to allow the specification of different window sizes that are related to another blocking variable. This is a good suggestion and something that we will definitely implement in the next release of fastLink.

That said, we are super excited to hear that you guys are planning to use fastLink and would be more than happy to help

[2020-08-10 13:00] froukehe0 commented on #44
Dear Ted,

Many thanks for this extensive answer, which is of great help. There is one thing that is not entirely clear to us, which is probably easy to clarify. After we have created the blocks, it seems that we then need to run fastLink on the two (or how many blocks there are) blocks separately. Wouldn't this create two separate estimates of the m- and u-probabilities? Would it be possible to e

[2020-08-10 18:28] tedenamorado commented on #44
Hi Frouke,

Indeed, if you proceed as I suggested, you will get different sets of m- and u- probabilities (a set per block). One could combine all of them, the wrapper does not allow for it directly but one can actually do it indirectly. To do the aggregation there is a solution:

- Run the code using the wrapper for each block and save the EM objects.
- Once the EM objects are saved, we will aggr

[2020-08-24 13:58] kalakaru opened #45 "question / documentation"
How do I get a table with the following information:

**rownumber dfA**: rownumbers of dfA
**rownumber dfB**: rownumbers of dfB that can be be linked to the corresponding rownumber of dfA
**similarity measure**:  how well can the rownumber of dfB be linked to the corresponding rownumber of dfA?

**E.g.**: dfA has 10 rows, dfB has 5 rows; These dataframes can be linked as follows:

|rownumber dfA|r

[2020-08-24 15:38] tedenamorado commented on #45
Hi,

I hope all is well. While fastLink calculates the similarity measures for the observations in the cross-product of two datasets, such numbers get recycled as this is the most expensive task in terms of memory space.

If your interest is to recover these numbers after the observations have been linked, fastLink provides you with the agreement pattern for that specific pair of records. For exam

[2020-08-28 14:20] kalakaru commented on #45
Hi Ted,

Thanks for the fast reply! I looked at your answer but I still didn't figure out how to get the table mentioned above for the df dfA and dfB. Could you maybe give me an example code?

Cheers!

[2020-09-01 00:38] tedenamorado commented on #45
No problem! I think this matches your request when focusing on first names in our sample data.

[code]

Please, if anything, do not hesitate to let us know.

All my best,

Ted

[2020-10-07 18:52] froukehe0 commented on #44
Dear Ted,

We are still looking at combining the data sources from my original questions, but in the meanwhile I was able to apply fastLink when combining open ambulance data with open accident data (to find out that the information in the open data was insufficient to establish reliable one-to-one mappings). The report is in Dutch, but you may be able to see your paper cited:
https://www.swov.nl/

[2020-10-08 16:06] tedenamorado commented on #44
Hi Frouke,

Thanks a lot for posting this! We are really happy to learn that fastLink was of help to you in writing the report and we hope it continues to be a valuable tool for your research. Do not hesitate to reach out if you feel we can be of any assistance.

All my best,

Ted

[2020-10-19 15:58] felixhaass opened #46 "Running fastLink on several cores/threads on"
Hi,

first off, thanks for the terrific package, it has helped me a lot in my research.

A quick question out of curiosity: I'm trying to run `fastlink()` on an ARM cluster computer with 64 cores. However, no matter how many cores I specify through `n.cores`, the system always tells me:

`Parallelizing calculation using OpenMP. 1 threads out of 64 are used.`

So, it's using only 1 thread of the ma

[2020-10-20 02:07] tedenamorado commented on #46
Hi Felix,

Thanks for raising this issue. How large are the datasets you passing fastLink for the merge?

Thanks!

Ted

[2020-10-20 08:51] felixhaass commented on #46
Hi Ted,

thanks for the quick reply! I've varied the size from 5k to 400k observations. When using larger datasets the parallel processing actually kicks in. So, I'm assuming that is expected behavior, since with smaller datasets the overhead of distributing the computation to various cores is probably too expensive... if that's the case, apologies for my question and you can close the issue.

Che

[2020-10-20 18:21] tedenamorado commented on #46
Hi Felix.

That is indeed the case! If some of the datasets are small, 1 core is more than enough.

All my best,

Ted

[2020-11-03 16:57] muranyia opened #47 "Col::subvec() error with more data"
I can run fastLink() stringdist.match on two variables on my datasets with up to 20k rows but with more rows, I get the following error (and a crash in RStudio) during the "Getting counts for parameter estimation" phase:

[code]

[2020-11-03 18:30] aalexandersson commented on #47
I am only a regular user but [std::logic_error](http://www.cplusplus.com/reference/stdexcept/logic_error/) seems like a C++ error to me. I assume it would be helpful if you provide more details such as operating system (e.g., Windows or Linux), versions of R and fastLink, and the fastLink syntax that you used. Are the datasets confidential, or could you share them with the developers if needed to

[2020-11-04 00:34] muranyia commented on #47
@aalexandersson, you are right, I simply forgot to add these:

[code]

[code]

[code]

The datasets are confidential, but I'm trying to narrow down the problem to a reproducible subset.
What I've already realized that it's **not** about the amount of data, rather about failing on some cases an not on others. The offending cases just happened to occur after the first 20k rows.

I'll come back with

[2020-11-04 23:22] aalexandersson commented on #47
Yes, it would be great to have a reproducible problem. Do you need both variables to reproduce the problem?

[2020-11-05 13:22] muranyia commented on #47
Here's the minimal example:

[code]

Please note that in my original real-life situation, NOT all cases were NA, and I was working with a lot more cases.

[2020-11-05 15:02] aalexandersson commented on #47
Do you have one or more rows of data where all linkage variables (i.e., FullName and EMail) are NA? I recommend you to drop those rows of data before using fastLink.

I once experienced a similar fatal error using fastLink when I mistakenly blocked on a variable with NA.

[2020-11-05 15:30] tedenamorado commented on #47
Thanks to both of you!

As @aalexandersson mentions, the problem is that you have a variable with no variation. We have warnings when there is no variation in a variable for which we observe at least one value, but we do not have warnings when there is no variation due to`NA`s.

We will take a close look at this issue in the coming days and let you know when we have pushed a fix. In the meantime,

[2020-11-05 17:02] muranyia commented on #47
I believe I have dropped the cases where both variables are NA (please correct me if not):

[code]
I'm still getting the same error.

Those cases where either but not both variable is NA, I'd need to keep.

@tedenamorado Thank You for looking into this. On my full dataset, the variation is definitely there for both variables, but they indeed contain NAs. My minimal example above used a variable wi

[2020-11-05 17:08] tedenamorado commented on #47
Hi @muranyia,

No problem!

Quick question: what happens if you set cut.a to a lowe value? e.g.,

[code]
Thanks!

Ted

[2020-11-05 17:18] kosukeimai commented on #47
@muranyia One more possibility: maybe, you forgot to remove @ from the email addresses?

[2020-11-05 17:27] tedenamorado commented on #47
@muranyia, following on @kosukeimai's suggestion, I would try to divide the emails into components e.g., username, email service, and domain. I would expect little to no typographical errors in the last two components, but usernames (similar to the case of names) are more prone to errors.

[2020-11-05 17:28] muranyia commented on #47
I still get an error with `cut.a=0.90`.
BTW, I had most posterior probabilities way higher than 0.99 on my first 20k cases, some of them being 1 (I guess, due to precision) even when the matches were not exact.

The @s I did not remove. Is that a requirement?

[2020-11-05 17:28] #46 closed

[2020-11-05 17:38] tedenamorado commented on #47
Thanks for getting back to us! Parsing the emails as discussed above might help.

Quick question: When you say 20K cases, that is referring to the larger dataset, right?

Let's try to debug the issue by trying to match one column at time:

[code]

Then run this:

[code]
Keep us posted!

Ted

[2020-11-05 20:08] muranyia commented on #47
Yes the 20K+ cases are my full dataset.

Trying to match one column at a time, I got the same error for EMail and a different one for FullName. I couldn't copy and paste as my system collapsed (possibly due to full /temp ramdisk?), it was about emlinkMARmov -> sort() not being able to open a file.

[2020-11-05 20:24] tedenamorado commented on #47
Hi @muranyia ,

It looks like the error you are getting comes from `EMail`.  To check if comparisons are possible, we can try the following code:

[code]

Sorry if it is taking a few iterations, but I am sure we will figure out what the problem is.

Ted

[2020-11-05 21:02] aalexandersson commented on #47
@muranyia It is also a good idea to restart R if you are running low on resources or get strange results. I am not sure what the best way to do it is but I usually do it from the RStudio menus: "Session" -> "Restart R". A reason why `@` could be problematic in string comparisons is that it is a non-ASCII character,

I fully agree with Ted.

Anders

[2020-11-06 17:10] muranyia commented on #47
@tedenamorado both commands finished but then my system collapsed. I guess memory/ramdisk exhaustion is more likely than a memory leak. Are you interested in a rerun while monitoring memory/disks?

@aalexandersson I always restarted R and I abandoned Rstudio for the tests and used CLI instead. As for `@` note that I had no problems whatsoever with the first 20k cases, in fact the algorithm made mu

[2020-11-06 17:21] tedenamorado commented on #47
Hi @muranyia,

It looks like parsing is much needed here. Does the variable `FullName` contain first and last name together? If so, I would separate those pieces of information e.g., first, middle, last name. The r-package `humaniformat` can be quite useful for this. Similarly, for emails, I would do what I mentioned above, break the email into components (username, email service, domain). Then yo

[2020-11-06 21:01] muranyia commented on #47
Dear @tedenamorado,

Thank you for the advice. For the emails, I have no problem separating the parts, and in fact, I should not need string distance matching on them at all.
With the names, the challenge is that I'm working with data from a buch of European countries, where there are so many different ways to record the same name (Lastname Firstname, Firstname Lastname, HusbandsLastname Lastname

[2020-11-06 21:56] muranyia commented on #47
I was curious so I did the rerun already.

My observations:

- Resource use (memory/ramdisk/disk) never went too high
- At one point while calculating matches for the second variable the Gnome UI started to fall apart
- Not much later "bus" i/o errors occurred and R bugged out with "an irrecoverable exception"
- When trying to reboot, the root filesystem was in read-only mode and apparently not ev

[2020-11-06 22:13] aalexandersson commented on #47
@muranyia String distance measures of long strings such as full name or full address is not likely to be feasible unless you you use manageable parts. Even a more consistent string such as 9-digit Social Security Number likely will cause similar memory crashes unless you work on small datasets.

[2020-11-10 18:02] muranyia commented on #47
Updates from more experiments:
- I can distance match full names, even with various unicode characters in them (cca 150k cases on one side and cca 25k cases on the other side).
- Simple matching of emails failed as long as I tried:
  - Converting to lower case
  - Replacing all characters except a-z with space
  - Splitting into two columns (by the '@')
  - Trying only one of the columns
- And sta

[2020-11-10 18:47] tedenamorado commented on #47
Hi @muranyia,

Thanks for your detailed feedback! If you have tried the code on more than one computer, then one possible avenue is to run the code in R, not RStudio. A few times RStudio has crashed for me for reasons I do not understand, but the same does to happen with R.

Ted

[2020-11-10 19:40] aalexandersson commented on #47
@muranyia What is the smallest reproducible example of the error so far, in terms of number of observations for the Email variable?

You wrote:

This FAQ might help:
[faq-how-to-do-a-minimal-reproducible-example-reprex-for-beginners](https://community.rstudio.com/t/faq-how-to-do-a-minimal-reproducible-example-reprex-for-beginners/23061)

Anders

[2020-11-12 23:26] muranyia commented on #47
@aalexandersson The only reliable example so far is that in [my older comment](https://github.com/kosukeimai/fastLink/issues/47#issuecomment-722374601). When not all cases are NA, a haven't been able to craft a reliable one, although the synthesized versions of my real-life datasets induce the crash _somewhat_ reliably.

I did notice that the computation time increases "exponentially" with the amo

[2021-01-05 15:33] Ibrokhimsadikov opened #48 "How scalable fastlink with mln rows tables?"
I tried to search for this question but could not get any performance wise answers. Could anyone suggest whether fastlink is scalable enough for tables that exceeds mln rows. Thank you

[2021-01-05 20:44] aalexandersson commented on #48
Currently, fastLink without blocking cannot handle tables with millions of rows. You would need [splink](https://github.com/moj-analytical-services/splink) (an independently developed version of fastLink for Apache Spark) or fastLink with blocking for such large linkages. I am not a fastLink developer but I routinely use fastLink with approximately 0.1 * 3.5 million rows which in practice require

[2021-01-05 20:58] Ibrokhimsadikov commented on #48
Thank you, @aalexandersson  for your answer, much appreciate your opinion

[2021-01-05 20:58] #48 closed

[2021-03-15 23:16] paull71 opened #49 "Weighting the matching fields"
Hi Guys,

Nice work with the package.

Currently using the package to link addresses in our company database to the Government National Address File (GNAF)(https://data.gov.au/data/dataset/19432f89-dc3a-4ef3-b943-5326ef1dbecc) which contains >14million addresses in Australia.

Aside from the size of the GNAF (which requires clustering to manage), the challenge has been weighting the fields in rela

[2021-03-17 10:32] kosukeimai commented on #49
One suggestion: you should include exact matches in your matching process.  This helps the algorithm estimate the parameters.  After that, you can set aside exact matches and focus on non-exact matches.  The algorithm is designed to self-weight each field and my hope is that including exact matches will do just that.

[2021-03-17 14:22] tedenamorado commented on #49
Hi @paull71,

As @kosukeimai mentioned, one good idea is to include the exact matches into your original data. If your dataset is around 1700 observations, I do not think that will create any additional bottleneck in terms of computational efficiency. Basically, adding exact matches could help the model learn that matching on `StreetName` is more discriminative than what it already is when matchin

[2021-03-17 18:58] aalexandersson commented on #49
From my user perspective, I fully agree with the suggestions.

Another idea: Add the argument `partial.match = c("StreetName")` if you want to prioritize `StreetName` because without the argument you only compare full matches of `StreetName`, not partial matches.

Also, some care is required if you decide to combine two fields. For example, the default `stringdist.method = "jw"` prioritizes the fi

[2021-03-18 09:07] paull71 commented on #49
Thanks everyone - will give your suggestions a go.

[2021-04-13 19:14] aalexandersson commented on #47
@muranyia Please summarize the missingness (NAs) in each linkage variable. I use and recommend [naniar](https://github.com/njtierney/naniar)::miss_var_summary() for that purpose.

My own experience is that `fastLink` usually performs well up to about 30% NAs. Thereafter, as you experienced, the computation time increases "very quickly" (maybe exponentially) with more NAs. Therefore, I tend not to

[2021-05-04 22:13] emma-klein opened #50 "Uninformative error in fastLink during imputation"
Hi,

While running fastLink I have gotten the same error several times with different parameters and I don't understand how to debug it.

The

My code is this:

`fs.out <- fastLink(`
`  dfA = dfA, dfB = dfB,`
`  varnames = c('FirstName', 'LastName', 'DOB_str', 'street_num', 'street_name', 'Gender'),`
`  stringdist.match = c('FirstName', 'LastName', 'DOB_str', 'street_num', 'street_name'),`
`  part

[2021-05-05 13:34] #50 closed

[2021-05-05 13:34] emma-klein commented on #50
I was trying to use blocking when the EM object wasn't blocked. Figured it out, sorry!

[2021-05-14 16:52] jrtran opened #51 "Custom/adjusted string comparison functions"
Greatly appreciate the work on this package. Our data deals with a wide diversity of names (Hispanic, Asian, etc.), and we've found that the string distance methods included with fastLink have occasional issues:

- Masculine and feminine versions of names being matched, like "Francisco" and "Francisca"
- Generation pairs being matched, like "Willie Jr" and "Willie" (although this may potentially b

[2021-05-14 21:33] tedenamorado commented on #51
Thanks for raising these important points! Being from Latin America, I know firsthand how difficult is to match based on names when name conventions do not accommodate well for the usual string distance comparators.

I think the first point you raised can be approached if your first try to separate observation by gender. If gender is not observed, you can use the `gender` function in R to try to a

[2021-05-15 20:49] kosukeimai commented on #51
@tedenamorado We should check out this package https://cran.r-project.org/web/packages/humaniformat/humaniformat.pdf It might be helpful for us.

[2021-05-15 23:11] tedenamorado commented on #51
Indeed, `humaniformat` is a fantastic tool to parse names when the strings containing them have some structure. I will look into this.

[2021-05-15 23:11] aalexandersson commented on #51
The package humaniformat was used with fastLink in this paper: [Measuring Public Opinion via Digital Footprints (2019, page 7)
](https://cess-nuffield.nuff.ox.ac.uk/wp-content/uploads/2019/01/Measuring-Public-Opinion-via-Digital-Footprints.pdf).

Thanks again for all your work on fastLink, much appreciated!

[2021-05-16 12:25] aalexandersson commented on #51
The newer R package `peopleparser` also looks interesting: [https://github.com/Nonprofit-Open-Data-Collective/peopleparser](https://github.com/Nonprofit-Open-Data-Collective/peopleparser) .

[2021-05-18 00:18] jrtran commented on #51
Love to see the active support here.  I've worked a bit with the `gender` package before in a different context, so that should be worth a shot. I also thought `probablepeople` looked familiar, and it turns out that we've used the authors' address parser before. I might try the native R methods first, but integrating Python into our workflow is definitely an option. In any case, since the names in

[2021-05-18 00:18] #51 closed

[2021-06-04 17:09] geneh0 opened #52 "Matching Dates"
I have a column converted to date format (without time) using `as.Date()`, `lubridate::as_date()` and even `as.Date.character().
[code]

When I try to use that as a variable in fastLink, throws the error:
[code]

How do I include dates as part of the match? I'm trying to do an exact match to deduplicate a dataframe.

[2021-06-04 17:46] aalexandersson commented on #52
Disclaimer: I am a regular user, not a developer, of `fastLink`.

The problem is discussed on stackoverflow [here](https://stackoverflow.com/questions/14755425/what-are-the-standard-unambiguous-date-formats-for-string-to-date-conversion-i). The easiest solution for you might be to use a character type, not a date type. Try this before running `fastLink`:

`as.character(df$date_of_contact)`

[2021-06-04 18:06] geneh0 commented on #52
That's what I currently have in my script, but I'm not sure what the best way of doing it if it was an inexact match, say up to 13 day difference (updated my original post). String distance matching doesn't seem to make sense since translocated digits don't really have any significance.

[2021-06-04 20:44] aalexandersson commented on #52
I would convert dates to a numeric variable such as `total_days` as discussed on stackoverflow [here](https://stackoverflow.com/questions/19564930/how-do-i-convert-date-to-number-of-days-in-r). Then, you can use `fastLink` with range arguments for a numeric match such as

`numeric.match = "total_days", cut.a.num = 0.4, cut.p.num = 6.5`

In the special case if your date variable instead is date of

[2021-07-14 15:42] emcghee73 opened #53 "Long runtime on sampled data"
I'm trying to get fastLink to merge two copies of the California voter file that are four years apart--one from 2012 and one from 2016.  My strategy is to use the method from the APSR paper (at least as I understand it).  But I'm getting stuck on what I thought would be the fast part.

I'm running fastLink first with 5% samples of each file. I then plan to block the full files on gender plus as ma

[2021-07-15 13:28] AuriantEmeric opened #54 "nameReweight NA issue"
Hello everyone,

Nice work with the package. It works well for me.

I just have a few question about reweighting posterior probabilities. After using nameReweight or just fastLink with nameReweight and firstname.field I only have NA in zeta.name. I don't understand why. I looked in the function and it should be because of that : 'matches.names.A$zeta.j.names[matches.names.A[,ind] != 2] <- NA'. But

[2021-07-31 22:29] tedenamorado commented on #54
Hi @AuriantEmeric,

I hope all is well. Sorry for the late reply.

The name reweight function takes the empirical distribution of names and basically reweights matches according to the name frequency. This leads to common names being down-weighted and matching on infrequent names up weights the matching probability.

Our code, as it currently stands, can reweight probabilities based on one field.

[2021-07-31 22:41] tedenamorado commented on #53
Hi @emcghee73,

Matching voter files is not an easy task, so I am with you on how complicated this can be. However, it is possible and it is just a matter of fine-tuning the problem.

My suggestion would is that it would be better to block on gender first and then sample observations to obtain parameter estimates. Since you have a lot of data, maybe 5% is a bit high as there are more than 16 milli

[2021-08-02 15:22] emcghee73 commented on #53
Thank you, Ted!  I'll give these ideas a try and report back with progress.

Cheers,
Eric

[2021-09-26 23:56] shamahutoto opened #55 "Exact match on certain column"
Hi, is there a way to make sure that one column is an exact match?

[2021-09-27 12:09] aalexandersson commented on #55
Yes, block on it.

[2021-10-01 01:07] aalexandersson commented on #55
@shamahutoto Since there are various types of blocking, I should have been more precise:

**Exact** blocking on a variable (column), for example gender, makes sure that the variable is an exact match.

It is useful to think of record linkage as a process. You do blocking before the actual record linkage. Typically you use the `blockData()` function for the blocking. Please provide an example if yo

[2021-10-06 13:48] datafj opened #56 "NA values create error in getMatches()"
I got an error when running `getMatches()`. It was caused by this line of code in `getMatches()`:

[code]

The above line can't run when the number of rows in dfA is different from the number of rows in out_df.

I traced back the cause of the error and found it was because there were NAs in `fl.out$posterior`. And further I found one NA value in one of the columns in dfA.

So, I speculate the NA i

[2021-10-07 00:10] shamahutoto opened #57 "Measure distance to nearest group"
Hi there,

I want to find items that aren't matched but were just under the threshold for matching with a group. Is there a way to do this?

[2021-10-09 04:13] tedenamorado commented on #57
Hi @shamahutoto,

As @aalexandersson mentions, one idea here would be to lower the matching threshold. By default fastLink only returns pairs of records with a matching probability larger than 0.85. However, you can lower that value to e.g., 0.001 and recover pairs with a matching probability larger than that value which will be a larger group than the one produced by the default value. However, I

[2021-10-09 04:23] tedenamorado commented on #55
Hi @shamahutoto,

As @aalexandersson mentioned, you can either block on a certain variable. Note that for all the variables that you pass to fastLink that are not listed in `stringdist.match` or on `numeric.match`, exact matching is used to compare values.

Hope this helps! If anything, let us know.

All my best,

TEd

[2021-10-11 19:03] datafj commented on #56
Run the following code:

[code]

And you will get the following message:

[code]

[2021-10-25 18:59] marialma opened #58 "Run times for field comparison variables"
Hi! I've been using fastLink to do some matching projects for work.
I've noticed that some field comparisons take way way longer than others (maybe not even finishing?)

For example, on matching a datasets with ~ 300k entries with another dataset with ~1.4 million entries, name comparison takes ~ 10 minutes, but address comparison takes hours, both using gammaCKpar with the same cutoffs. Sometimes

[2021-10-28 18:00] #58 closed, assigned to nobody

[2021-11-13 01:41] aalexandersson commented on #43
Recommended by Canbek et al. (2021): [https://rdcu.be/cvT7d](https://rdcu.be/cvT7d)

Conclusion:

Full reference:
Canbek, G., Taskaya Temizel, T. & Sagiroglu, S. BenchMetrics: a systematic benchmarking method for binary classification performance metrics. Neural Comput & Applic 33, 14623–14650 (2021). https://doi.org/10.1007/s00521-021-06103-6

[2021-11-23 09:54] lucasmalherbe opened #59 "Blocking strategy with millions of rows"
I’m trying to link files with millions of lines (10M, up to 50M), using blocking to reduce the number of pairs.

The fastLink tutorial handles blocking by applying the algorithm independantly on each block. However, in my case that’s not possible because my blocking variables have a lot of different values and some of the blocks are small. Moreover, if I choose to use several blocking variables an

[2021-11-23 13:22] aalexandersson commented on #59
Disclaimer: I (Anders) am a regular fastLink user, not a fastLink developer.

As far as I know, fastLink currently allows four different blocking strategies:
1. exact,
2. window,
3. kmeans clustering,
4. "approximate probabilistic"; it means a separate run of fastLink with a "loose" threshold of your choice such as 0.5 or 0.6.

The developers are very much aware of the blocking limitations in fast

[2021-11-23 18:45] lucasmalherbe commented on #59
Thanks for your reply.

Can you elaborate on probabilistic blocking? On which datasets do you run fastLink with the loose threshold? Because it won’t run on the whole datasets.

I have the following linkage variables: given name, surname, date of birth, postcode and address. I’d like to use postcode and birthyear as blocking variables and keep the union of all pairs from these two blocking steps b

[2021-11-23 20:58] aalexandersson commented on #59
For now, I think you must use exact, window or kmeans blocking here to reduce the number of pairs for fastLink.

How many blocks is the result if you block exactly on `postcode` and `birthyear`? How large is the largest block, and how small is the smallest block? Can fastLink run on the smallest block? Can fastLink run on the largest block?

[code]

[2021-11-24 10:49] lucasmalherbe commented on #59
The issue I'm facing is that the blockData function only allows to block together records for which postcode AND birthyear are equal but I want to block records for which postcode OR birthyear is equal, otherwise I will get too many false negatives due to blocking. My understanding is that the blockData function doesn't allow this type of blocking, but it would be useful.

[2021-11-24 14:16] lucasmalherbe commented on #59
I'll keep these ideas in mind, thank you!

[2021-11-24 14:16] #59 closed

[2021-11-26 10:21] mpr1255 commented on #53
...curious about the progress!

[2021-11-26 19:07] tedenamorado commented on #56
Hi,

The code has been adjusted to accommodate this knife-edge case. Please, if something else pops-out, let us know. Note that it is because of this community that we have been able to make fastLink a better tool for everyone.

Happy Thanksgiving!

Ted

[2021-11-29 07:16] ericmanning commented on #56
It appears that this knife-edge case is not resolved when reweighting names. (See the toy example provided above.)

(P.S. -- Thank you so much for writing and maintaining this incredibly useful package!)

[2022-02-10 12:24] MAranzazuRU89 opened #60 "Running time"
I had a question with the expected running time and computing capacity I need to plan to use fastLink. I am trying to run it on a database of 1.7M observations, only matching on two variables. However, so far (and the code has been running for 12h) I have not been able to run past the first task of calculating matches for each variable. So I was wondering whether this is to be expected and I shoul

[2022-02-10 12:41] aalexandersson commented on #60
Disclaimer: I am a regular fastLink user, not a fastLink developer.

It depends. Details matter. Please show the fastLink code that you used. Do you use blocking?

[2022-02-10 15:16] tedenamorado commented on #60
Hi @MAranzazuRU89,

Like @aalexandersson mentions, a bit more context could be of help here. If it happens that your data allows for blocking (creating subsets of observations similar in at least one dimension), then I have no doubt the task you have in mind can be scaled and perhaps finished in less than 12 hours. If blocking is not an option, then computing power could be a solution.

Keep us po

[2022-05-24 16:44] zross opened #61 "Guidance on improving chances EM algorithm will converge?"
@tedenamorado and @kosukeimai thanks so much for making all of this hard work available in this R package! I'm wondering if you had published some guidance or suggestions on what situations lead the EM algorithm to fail to converge.

Unfortunately, my data is not shareable so I'm having trouble giving you a reprex but, broadly, I'm linking birth data with hospitalization data for many different ye

[2022-05-24 19:04] aalexandersson commented on #61
Exact matching is much faster and simpler to compute, so it should converge without problems. How many exact matches are there?

How much is the overlap between the two datasets? fastLink struggles if you have close to 0% or 100% overlap. Imbalance matters too -- how large are the two datasets?

Did you count all missing as missing for sure? Often administrative datasets have hard-coded values suc

[2022-05-25 13:52] zross commented on #61
I really appreciate the time you've put in here, thank you.

There is very little overlap in many cases. So only a few new moms from 1980 would show up in hospitalization data from, say, 1990 in the same state. That could very well be a big part of the issue. In my initial testing I was testing on data that was closer in time assuming it would work as the gap got larger. So in initial testing I ha

[2022-07-20 15:17] brittlh opened #62 "Using reweight.names in fastlink() returns only completely NA rows"
I've run the fastLink function both with and without the reweight.names option to ensure the data is matched without issue otherwise.

Code:

`fastLink(dfA = dfA, dfB = dfB, varnames = c("first", "last", "company"), stringdist.match = c("first", "last", "company"), stringdist.method = "lv", return.df = TRUE, reweight.names = TRUE, firstname.field = "first", dedupe.matches = FALSE, verbose = TRUE)`

[2022-07-21 16:23] brittlh commented on #62
I wasn't able to create a reproducible scaled-down example, which led me to taking a SRS of the two datasets (10% of each) I'm working with to try again. This time, I received 18 rows back, of which 8 were NA and 10 were match rows. Is it possible the issue is linked to the size of data sets? (dfA has about 1k rows, dfB about 220k).

[2022-08-04 00:04] tedenamorado commented on #62
Hi,

Are there NAs in the name variable?

All my best,

Ted

[2022-08-04 17:07] jamesmartherus opened #63 "Extracting matches when using blocking"
Hi there, I am trying to identify duplicates in a large dataset. I am blocking on several variables, aggregating with `aggregateEM()` and then trying to extract the matches with `getMatches()`. It looks like `getMatches()` won't work with the `fastLink.aggregate` class. Is there some other way to get the same functionality?

Reprex:
[code]

[2022-08-12 22:44] brittlh commented on #62
Ted,

Did the check, no NAs. There were 2 "" blank strings. Once I filtered out for testing, I reran fastLink and got the same result as I described above.

Appreciate your help. I'm going to keep looking into this in my spare time and see if any other data anomalies catch my attention that might trigger this issue.

[2022-08-19 12:50] aalexandersson commented on #62
Disclaimer: I am a regular fastLink user, not a fastLink developer.

Is the scaled-down dataset dfA about 1K rows or about 100 rows? Do the read in datasets look fine to you? Approximately how much missingness is there? How many exact matches are there? Can you show the linkage patterns for the 18 returned rows? No/Little overlap could be the cause...

Anders

[2022-08-29 15:23] zross opened #64 "The documentation for return.all does not seem to match the function default?"
I'm using v ‘0.6.0’ and unless I'm missing something I think the help incorrectly states the default for `return.all` as `TRUE` -- the function seems to have `return.all = FALSE` as the default.

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/1395177/187235962-8e466233-ba5e-41fb-93d5-11fda2e4e768.png">

<img width="745" alt="image" src="https://user-images.githubuserc

[2022-08-30 19:09] aalexandersson commented on #64
Disclaimer: I am a regular fastLink user, not a fastLink developer.

Yes, and thank you for mentioning the documentation issue. The commit change was on Mar 29, 2019:[https://github.com/kosukeimai/fastLink/commit/7915255f13c90292f6d4de71e3eac3bde6cb1033](https://github.com/kosukeimai/fastLink/commit/7915255f13c90292f6d4de71e3eac3bde6cb1033)

[2022-09-22 14:41] bengoehring commented on #63
I have a similar question. I figured out a work around by using the number of indices in each block to figure out which block corresponds to which value of the blocking variable. From there, I found the matches within each block and then binded them together. This really only works when the blocking variable(s) only have a small number of unique values. It would great to have a more systematic opt

[2022-09-22 19:43] aalexandersson commented on #63
Disclaimer: I am a regular fastLink user, not a fastLink developer.

@jamesmartherus @bengoehring Are you both "merely" asking how to extract matches when using blocking? I know how to do that. But I am not sure how to relate to your very specific code, which seems complicated and convoluted to me.

[2022-09-22 19:51] bengoehring commented on #63
Yes.

[2022-09-22 21:20] aalexandersson commented on #63
I wrote "merely" in quotation marks because this is a known issue that the `fastLink` developers are working on.

Ted helped me with my similar question a few years ago, and thanks to him I regularly use code similar to the example below. It should be much simpler to do this in fastLink, and maybe I messed something up. But, as asked for, the sample code extracts matches when using blocking (3 blo

[2022-10-10 15:00] gbdias opened #65 "Q: Database size limit for duplicate removal?"
Hi,

I am trying to perform deduplication on a database with 1.8M records. The analysis has been running for ~10 days on a 8-core machine with 32Gb RAM. Do you believe this task can be achieved on such a machine or do I need a bigger server?

My command is as follows:
[code]

Best,
Gui

[2022-10-10 16:21] tedenamorado commented on #65
Hi,

I do not think it is a problem with the specs of your machine, but trying to conduct the merge without some blocking. From your code, I read that you only have three fields to match and the first two refer to names.

My first recommendation would be to use the `birth_date` to block. For example, you can create subsets of the data by year of birth and conduct the merge within each subset. Note

[2022-10-10 16:25] tedenamorado commented on #64
@zross, thanks for raising this issue! As @aalexandersson mentions, you are correct. I will update the help file.

[2022-10-10 16:32] gbdias commented on #65
Thanks for the quick reply @tedenamorado !

- I have not separated the names by component, do you think that is a better way to go about this task?

- I was initially unsure about blocking since there might be typos in the `birth_date` field, but If it's what it takes to get the job to complete I'll just give it a try. :)

Gui

[2022-10-10 16:50] tedenamorado commented on #65
Hi Gui,

Yes, I think parsing may help. Imagine if you have in one file the name: `Ted Enamorado` and in another file the name `Ted Enamorado Enamorado`. By glancing at both names you know they are the same, but when calculating a string similarity measure like Jaro-Winkle you find that on a scale from 0 (different) to 1 (equal), both strings are 0.85 similar. The default threshold of similarity f

[2022-10-13 17:20] gbdias commented on #65
Hi Ted,

I'm giving your strategy a try and had a follow up question.

Blocking by year of birth results in a large number of blocks. How should I go about running deduplication on each block and merging results back into a single, deduplicated dataframe?

I know this is a general R question and I can probably come up with a method but maybe you already have an efficient routine developed? I found

[2022-10-13 18:44] tedenamorado commented on #65
Hi Gui,

If you are running this on just one computer, the approach you mention would work. For deduplication, I wrote a short primer on how to do it, you can access it here: https://www.dropbox.com/s/jhob3yz0594bo34/Enamorado_Census.pdf?raw=1

If you have access to a cluster computer, then each block becomes a job and you can distribute the blocks.

Hope this helps!

Ted

[2022-10-18 14:29] gbdias commented on #65
Hi TED,

Since I do not have access to a cluster for this job I am using a simple loop to process each block serially.

Runtime seems within reason but I am running into memory limitations. I initially used 6 CPUs, now I am down to 2 to see if the memory bottleneck goes away. Any tips on that would be appreciated.

Best,
Gui

[2022-10-19 22:18] tedenamorado commented on #65
Hi Gui,

If you are running into memory limitations, it can be one of two things:

1. Some of the blocks are really large.
2. There is a lot of overhead in terms of memory.

If the problem is 2, then you can solve it by saving (to disk) the matched datasets at each loop. Removing those objects after saving using the `rm()` function and then using garbage collection `gc()` to free up some RAM.

If

[2022-10-20 12:44] aalexandersson commented on #65
Hi Gui,

How many blocks do you have? Is the problem always for the same block or does it vary?

Do you use a Windows OS? Then, I also recommend a restart (not shutting down) to free up all RAM before the deduplication. It typically is not necessary but I have seen memory-related problems sometimes disappear by restarting.

Anders

[2022-10-20 13:39] gbdias commented on #65
Hi @tedenamorado and @aalexandersson ,

Thank you very much for the advice.

- I have about ~120 blocks in this deduplication dataset.
- The largest blocks have ~50,000 records.
- I have not monitored if the same block is causing the memory limitation.
- I have access to both Windows (i7-6700 32gb RAM) and MacOS (Apple M1 16gb RAM) machines.

I will implement @tedenamorado 's cleanup strategy with

[2022-10-20 14:00] aalexandersson commented on #65
That is relatively many blocks compared with what I usually use. Therefore, I am curious could the issue be the opposite? That is, is the number of observations in the smallest block smaller than the number of blocks? It would have generated an error for a record linkage (on 2 datasets) but I am not sure how fastLink handles this issue for deduplication.

What is the runtime? Do you get an error m

[2022-10-24 13:32] gbdias commented on #65
Dear @aalexandersson ,

- Indeed there are blocks where the number of observations is shorter than the total number of blocks (e.g. n=1). Here is the histogram of block lengths (in number of records).
<img width="585" alt="Screen Shot 2022-10-24 at 10 23 27" src="https://user-images.githubusercontent.com/7614153/197536342-005b1e65-6dab-4f3d-a942-aabfb5b5323c.png">

[code]

- I am blocking by year

[2022-10-24 14:30] aalexandersson commented on #65
Yes, I think that it will help to remove the blocks that contain observations fewer than the block number.

For record linkage, when using this code for a block with fewer observations than the block number

`for (i in 1:length(block_out)){`

 I get this error message:

`Error in { :
  task 1 failed - "error in evaluating the argument 'x' in selecting a method for function 'which': subscript out o

[2022-10-25 13:02] gbdias commented on #65
- I tested my loop on a small, 38k record, dataset and it works quickly and correctly.
- Linking the 1.8M and the 38k databases also runs relatively quickly using my loop.
- What I really need to tune is the memory issue for the 1.8M deduplication step. Once I have the time to implement your suggestions I will summarize the outcomes here. Thanks a lot

[2022-10-27 22:44] ishanaratan commented on #60
Hi! I have a question directly related to run time reduction. I am trying to run fastLink on a cluster computer (matching a few million firms), and was wondering if I needed to specify the number of nodes available (and perhaps structure the code differently)?

I didn't see a mention of how to do this in the documentation, but perhaps missed it. Thanks in advance!

[2022-10-27 23:40] tedenamorado commented on #60
Hi @ishanaratan,

If you are using a cluster computer. I would do the following:

1. Block the data. For example, if you match firms from different cities, one idea is to subset your data by city name.
2. Run fastLink matching one subset per node (or group of nodes). Within the node, fastLink will allocate the number of clusters so that you do run into memory issues.

fastLink runs in parallel wit

[2022-10-28 14:51] ajw5296 opened #66 "Looking for a way to feed threshold cutoffs to individual variables"
Is there a way to set different cutoff values for certain variables. For instance, if the DOB variable between a potential match isn't above .9, then that wouldn't be considered a match, but all other variables have a cut off of .8.

[2022-10-28 15:13] tedenamorado commented on #66
@ajw5296 if you are using the fastLink wrapper function, it is not possible (those cutpoints are global).

However, there is a way to bypass that issue. I will post an example later today.

If anything, let us know.

All my best,

Ted

[2022-10-29 15:24] tedenamorado commented on #66
@ajw5296 can you provide an example of what you have in mind here? Is your question about cutoff about how we compare variables or about the weight each variable receives when predicting the probability that two records are the same?

Looking forward to hearing from you!

Ted

[2022-10-31 13:31] ajw5296 commented on #66
Hey @tedenamorado, my question is more about cutoffs, and if they can be set at a variable level, more preciously

1. Are individual matching probabilities calculated within the fastlink method
             So a match might be something like .98(fname), .98(lname), .83(dob), and then these are calculated with their weights
             for the final whole posterior

2. Can we set threshold cut off

[2022-11-01 22:27] aalexandersson commented on #66
I do not think it is possible in `fastLink` other than maybe to create ad hoc linkage variables and then work directly with the corresponding gammas. A similar open issue is https://github.com/kosukeimai/fastLink/issues/49.

The Python-based `splink` has a similar open issue https://github.com/moj-analytical-services/splink/issues/434. The proprietary `Match*Pro` has "Classification Tab" with a us

[2022-11-01 22:40] tedenamorado commented on #66
Hi @ajw5296,

As @aalexandersson mentions, it is not possible to set deterministic rules based on the probability of observing a specific agreement value for field k given that a pair of records is a match. The model learns these probabilities from the data.

Our focus is on the Probability that a pair of records is a match given the agreement pattern and the parameters of the model, which is a co

[2022-11-07 19:18] bengoehring opened #67 "Seemingly odd partial matching behavior"
Hi there,

Thank you for writing, and especially maintaining, such a great package. I worry this is going to be a silly question -- and I apologize if that is the case.

I am trying to assign unique ids to a roster of names. It seems that some of the matches however are too inclusive and include, as in the example below, strings that seem to be too distinct from one another to be considered matche

[2022-11-07 21:05] aalexandersson commented on #67
Disclaimer: I am a regular `fastLink` user, not a developer.

I suggest that you need at least one more linkage concept than `Gender` and `Name`.

One of several possible recommendations  is to add  `Address` or  `Date_of_birth`; the conceptual algorithm is known as `ADGN` (Ansolabehere and Hersh 2017). As another example, I often find the 9-digit Social Security Number (`SSN`) to be very useful a

[2022-11-07 21:28] bengoehring commented on #67
Thanks for getting back to me!

Yes, additional linkage variables would be great but unfortunately I often am working with just names. If I need to just increase `cut.p` when I am using only names as linkage variables that is fine. I just wanted to be sure I was not missing something obvious.

Ben

[2022-11-07 21:48] aalexandersson commented on #67
Is your purpose to have as few as possible duplicates? Then, you could combine the names into a more discriminating variable, which would result in less duplicates than now. For example, you could create one name variable from `first_name` + `middle_name_initial` + `last_name_initial`. In the example, the first four names would be "jamesea", "jameseb", "jameseb", and "jamesed".

[2022-11-08 15:43] tedenamorado commented on #67
Thanks @aalexandersson for always providing great advice!

The problem is that for most observations in your sample data, the middle initial is just one letter, so it is basically a categorical variable that can take around 26 possible values (22 in your sample data if you trim middle names to be represented by just one letter).

@bengoehring did you try removing `middle_name_initial` from the lis

[2022-11-08 17:25] bengoehring commented on #67
Thanks everybody. I really appreciate all of the suggestions. I will try exact matching on the middle name/initial variable and see how that looks.

[2022-11-15 14:22] msghankinson opened #68 "How to return multiple matches"
I have two datasets:

1. **test_pool** is a panel of names across years. But sometimes the names change slightly, as they are hand-coded.
2. **test_key** contains a sample of the names in **test_pool**, but only from the most recent year.

Here is simplified example data:
[code]

I would like to use fastLink to find every occurrence of "Jose" in **test_pool**, regardless of the year. Also, I would

[2022-11-15 15:33] tedenamorado commented on #68
Hi @msghankinson,

I would suggest playing with the `cut.a` option from fastLink. The option allows you to move the threshold for the agreement in the string-valued variables. In the code below, I moved it to 0.92. Note by default it is set at 0.94. Why do you want to lower the threshold? To capture nicknames. However, I would not recommend lowering it too much as you will start finding a lot of f

[2022-11-16 17:09] msghankinson commented on #68
This worked perfectly! Thank you so much for the quick response and detailed feedback. - Michael

[2022-11-16 17:09] #68 closed

[2022-11-29 11:32] SamShin opened #69 "aggconfusion development update"
Hi,

Thank you for writing such an amazing package. I am trying to calculate the precision and recall and so I am trying to use the confusion table. But since I want to use blocking methods, it seems like I would have to use aggconfusion to do so which is currently under development. Is there any other ways to find the precision and recall outside of manually calculating them?

Thanks in advance,

[2022-11-29 12:46] aalexandersson commented on #69
Disclaimer: I am a regular `fastLink` user, not a `fastLink` developer.

You can use the function `confusion()` to find the precision and recall. I provided an example in [https://github.com/kosukeimai/fastLink/issues/63#issuecomment-1255559880](https://github.com/kosukeimai/fastLink/issues/63#issuecomment-1255559880).

Precision = Positive Predictive Value = TP / (TP + FP) = TP / Links.
Recall =

[2022-11-29 19:34] SamShin commented on #69
Thank you so much for the amazing example! This is exactly what I needed.

[2022-11-29 19:34] #69 closed